@media only screen and (max-width:768px){
    .engagements{
        >.top{
            >h2{
                font-size: 1.2rem;
            }
        }
        >.content{
            display:grid;
            grid-template-columns: 50% 50%;
            >div{
                border:none;
                >svg{
                    font-size: 2.5rem;
                }
                >p{
                    font-size: 0.8rem;
                }
            }
        }
    }
}