.footer{
    
    background-color:#303136;
    /*position:absolute;
    bottom:0;*/
    width:100%;
    min-height:250px;

    >.content{
       padding-top: 1rem;
        width:80%;
        margin:auto;
        display:grid;
        grid-template-columns:25% 25% 25% 25%;
        padding-bottom: 1rem;
        >div{
           
            >h4{
                font-size: 1.2rem;
                margin-bottom: 0.5rem;
                margin-top: 1rem;
                text-transform: uppercase;
                color:white;
                text-decoration: underline;
            }
            >ul{
                list-style: none;
                
                >li{
                    >a{
                        text-decoration: none;
                        color:white;
                        font-size: 0.9rem;
                        display:flex;
                        align-items: center;
                        gap:0.5rem;
                        line-height: 1.4;
                        font-weight: 300;
                        >svg{
                            color:var(--blue);
                            font-size: 1.2rem;
                        }
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }

    >.bottom{
        background-color:#303136;
        
        position:absolute;
        width:100%;
        margin:auto;
        bottom:1rem;
        >.content{
            width:80%;
            margin:auto;
            font-size: 0.8rem;
            color:white;
        }
    }
}