@media only screen and (max-width:768px){
    .home_content{
        min-height:120px;
        top:-60px;
        margin:0 !important;
        >img{
            
            height:50vh;
            object-fit: cover;
        }

		>div{
			display:none;
			
		}
        
        
    }

    
}
