.nav{
    display:flex;
    flex-direction: column;
    width:100%;
    margin:auto;
    height:180px;
    position: fixed;
    top:0;
    z-index: 999;
    >.left{
        display:flex;
        align-items: center;
        justify-content: space-between;
        width:80%;
        margin:auto;
        >img{
            width:150px;
            height: 100px;
        }
        
        >div{
            
            display:flex;
            align-items: center;
            width:50%;
            justify-content:space-around;
            >div{
                &:nth-child(1){
                    
                    display:flex;
                    align-items: center;
                    gap:2rem;

                    >button{
                        background-color:transparent;
                        border:none;
                        color:black;
                        font-weight: bold;
                        text-transform: uppercase;
                        font-size: 1.2rem;
                        cursor: pointer;

                        &:nth-child(1){
                            display:none;
                        }
                    }
                }

                &:nth-child(2){
                    display:flex;
                    align-items: center;
                    
                    >button{
                        font-size:1.2rem;
                        background-color:transparent;
                        border:none;
                        color:gray;
                        border-right: 3px solid rgb(209, 207, 207);
                        padding:0 0.8rem;
                        cursor:pointer;
                        &:nth-child(1){
                            color:black;
                        }

                        &:nth-child(2){
                            border-right: none;
                        }
                    }
                }
            }
        }
    }

    >.right{
        background-color:var(--blue);
        >ul{
            width:80%;
            margin:auto;
            height:60px;
            display:flex;
            justify-content: flex-start;
            
            padding:0;
            
            >li{
                
                display:flex;
                flex-direction: column;
                align-items: center;
                justify-content:center;
                text-align: center;
                border-right:1px solid var(--blue_big);
                padding:0 1.5rem;
                cursor: pointer;

                &:nth-child(1){
                    border-left: 1px solid var(--blue_big);
                }
                &:hover{
                    background-color:var(--blue_op);

                    >ul{
                        display:block;
                    }
                }

                >svg{
                    font-size: 2rem;
                    color:#58585a;
                }
                >a{
                   
                    width:100%;
                    display:flex;
                    justify-content:center;
                    color:white;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-size: 0.8rem;
                    font-weight: 400;
                }
                position: relative;
                
                >ul{    
                    padding:0.5rem;
                    position:fixed;
                    top:60px;
                    display:none;
                    border:1px solid silver;
                    list-style: none;
                    border-radius: 5px;
                    min-width: 200px;
                    z-index: 999;

                    >li{
                        padding: 0.5rem;
                        display:flex;
                        flex-direction: column;
                        align-items: flex-start;
                        text-decoration: none;
                        &:hover{
                           background-color:whitesmoke;
                           
                        }
                        >a{
                            color:gray !important;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }

    >button{
        >span{
            width:80%;
            height:3px;
            border-bottom:3px solid white;
            display: block;
            margin:auto;
        }
        height:25px;
        width:30px;
        border:none;
        background-color: var(--blue);
        cursor:pointer;
        display:none;
        flex-direction: column;
        align-items: center;
        
    }
}
