@media only screen and (max-width:768px){
    .nav{
        background-color:white !important;
        width:100%;
        position:absolute;
        height:auto;
        >.left{
            
            flex-direction:column;
            
            >img{
                border:1px solid red;
                width:150px;
                height:70px;
            }
            
            >div{
                position:sticky;
                position: -webkit-sticky;
                top:0;
                background-color: var(--blue);
                width:100vw;
                
                >div{
                    &:nth-child(2){
                        display:none;
                    }

                    &:nth-child(1){
                       
                        flex:1;
                        justify-content:flex-end;
                        >button{
                            
                            padding:0.5rem;
                            color:white;
                            >img{
                                width: 30px;
                            }
                            &:nth-child(1){
                                display:block;
                                position:absolute;
                                left:0.5rem;
                            }
                        }
                    }
                }
            }
        }

        >.right{
            display:none;
            margin-top: -1000px;
            transition:700ms;
            &.active{
                display:flex;
                margin-top:auto;
                transition:700ms;
                >ul{
                    flex-direction: column;
                    position:absolute;
                    left:0;
                    top:60px;
                    width:100%;
                    z-index: 999;
                    background-color:whitesmoke;
                    padding:0.5rem;
                    padding-bottom: 3rem;
                    >li{
                        border-top: none;
                        flex-direction: row;
                        justify-content:flex-start;
                        gap:0.5rem;
                        padding-bottom: 0.5rem;
                        margin-left: 1rem;
                        >a{
                            width:auto;
                        }

                        >svg{
                            font-size: 1.2rem;
                        }
                    }
                }
            }
        }

        >button{
            display:none;
            position:absolute;
            right:1rem;

            &.active{
                >span{
                    &:nth-child(2){
                        display:none;
                    }
                    &:nth-child(1){
                        transform:rotate(15deg);
                        margin-top: 8px;
                        margin-left: 5px;
                        border-bottom: 3px solid indianred;
                    }
                    &:nth-child(3){
                        transform:rotate(-50deg);
                        margin-top: -10px;
                        margin-bottom: 10px;
                        border-bottom: 3px solid indianred;
                    }
                }
            }

        }
    }
}