@media only screen and (max-width:768px){
    .produits{
        flex-direction: column;
        >h1{
            margin-left: 0rem;
        }
        >div{
            margin-left: 0;
        }
    }
}