.who{
    background-color:#ededed;
    >.content{
        width:80%;
        margin:auto;
        text-align: justify;
        background-color:white;
        border-radius: 5px;
       
        margin-top: -2rem;
        >*{
            color:#3a434a;
            padding:1rem;
        }
        >h1{
            text-align: center;
            color:dimgray;
            padding:1rem;

        }

        >ul{
            padding:0.5rem;
            margin-left: 1rem;

        }
    }
}